Source: openplotter-i2c
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/openplotter-i2c
X-Python3-Version: >= 3.2

Package: openplotter-i2c
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, openplotter-settings, python3-wxgtk4.0, i2c-tools
Description: OpenPlotter app to manage I2C sensors in Raspberry Pi
 OpenPlotter app to manage I2C sensors in Raspberry Pi
